
.header{
	overflow: hidden;
	    background-image: linear-gradient(green,white);
	border-radius: 4px;
}
.header a {
    float: right;
    
    text-align: center;
    padding: 10px;
    text-decoration:none;
    font-size: 16px; 
    line-height: 20px;
    border-radius: 4px;
    color: aliceblue;
	`width: 100%;
}
.header a:hover {
    background-color: orange;
    
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}
h3{
	background-color: white;
	border-radius: 4px;
}
.form{
	align-content: center;
	text-align: center;
	background-color: white;
	margin-top: 20px;
	padding-top: 10px;
    padding-bottom: 10px;
	margin-right:25%;
    margin-left:25%;
	border-radius: 4px;
	opacity: 0.8;
}
.form input,label,textarea,p{
	 font-weight: bold;
  color: #000000;
	
}
label{
	width:180px;
	clear:left;
	padding-right:0px;
	
}
#loginbtn{
	float:right;
}

.foodorder{
border:1px solid #333;
 background-color:#f1f1f1;
  border-radius:5px; padding:16px;
}
.ordertable{
	font-weight: bold;
  color: #000000;
  background-color:white;
	
}
td{
	font-weight: bold;
  
	opacity: 0.9;
	 
}
.table{
	
}